.faq-table {
    margin: 5% 0;
    font-size: 16px;
    font-family: inherit;
    min-width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.faq-table thead tr th {
    text-align: right;
}

.faq-table th {
    text-align: center;
}

/* .dropbtn .dropdown {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9
}

.dropdown-content {
    /* display: none; */
    padding: 12px 16px;
    background-color: #f1f1f1;
    min-width: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}




/* .dropdown-content a:hover {background-color: #ddd} */

/*.dropdown:hover .dropdown-content { display:block; }*/