.joinus-links-header {
    background-color: #dcd0ff;
    padding: 0;
    margin: 0;
    text-align: center;
}

.joinus-links-header p {
    margin: 0;
}

.joinus-links-image {
    background-color: #B0E0E6;
    padding: 0;
    margin: 0;
}