.joinusClubroominfoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.joinusClubroominfoWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
}

.joinusClubroominfoMap {
	border-radius: 10px;
	width: 30vw;
	height: 30vh;
}

.joinusClubroominfoInput {
	border-radius: 5px;
	font-size: 2em;
}

.joinusClubroominfoText {
	text-align: center;
	font-size: 2em;
}

.joinusClubroominfoInputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.joinusClubroominfoSubmit {
	font-size: 2em;
	border-radius: 5px;
	padding: 8px 25px;
}
