.joinusFaqContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.joinusFaqWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
}

.joinusFaqHeader {
	font-size: 3.5em;
}

.joinusFaqQuestion,
.joinusFaqAnswer {
	font-size: 2em;
	display: inline;
}
