.joinusLinksHeader {
	text-align: center;
	font-size: 3.5em;
}

.joinusLinksHeader p {
	margin: 0;
	font-size: 4em;
}

.joinusLinksImage {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b0e0e6;
	padding: 0;
	margin: 0;
}

.joinusLinksOrgs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.joinusLinksCsOrgs {
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 2em;
}

.joinusLinksCsOrgs:hover {
	color: #dcd0ff;
	text-decoration: underline;
}
