.joinusMailinglistContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.joinusMailinglistWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
}

.joinusMailinglistInput {
	border-radius: 5px;
	font-size: 2em;
}

.joinusMailinglistSubmit {
	font-size: 2em;
	border-radius: 5px;
	padding: 8px 25px;
}

.joinusMailinglistHeader {
	text-align: center;
	font-size: 3.5em;
}

.joinusMailinglistText {
	text-align: center;
	font-size: 2em;
}
