
.events-calendarpageone-calendarcontainer {
    width: 95%;
    display: block;
    margin: 0 auto;
} 

@media only screen and (min-width: 600px) {
    .events-calendarpageone-calendarcontainer {
        width: 75%;
        margin: 0 12.5%;
    }    
}

@media only screen and (min-width: 1024px) {
    .events-calendarpageone-calendarcontainer {
        width: 60%;
        margin: 0 20%;
    }    
}