
.events-suggestionsform-name {
}

.events-suggestionsform-email {
    color: yellowgreen;
}

.events-suggestionsform-suggestion {
    color: brown;
    
}

.events-suggestionsform-submit {
    color: gold;
}

textarea {
    resize: none;
    width: 250px;
    height: 100px;
}
