
.events-suggestionsform-name {
    color: blue;
}

.events-suggestionsform-email {
    color: yellowgreen;
}

.events-suggestionsform-suggestion {

    color: brown;
}

.events-suggestionsform-submit {
    color: gold;
}

button {
    margin-top: 10px;
    justify-content: center;
}

textarea {
    width: 250px;
    height: 100px;
    resize: none;
}

input[type=email], input[type=text] {
    width: 250px;
}

#events-suggestionsform-gridwrapper {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
}