.events-suggestionsform-name {
    color: green;
    display: inline-flex;
    text-align: right;
}

.events-suggestionsform-email {
    color: yellowgreen;
    display: inline-flex;
    text-align: right;
}

.events-suggestionsform-suggestion {
    display: inline-flex;
    color: brown;
    text-align: right;
}

/*.events-suggestionsform-submit {

}
*/

textarea {
    resize: none;
    width: 250px;
    height: 100px;
}
