.eventsSuggestionsformName {
	color: green;
	display: inline-flex;
	text-align: right;
}

.eventsSuggestionsformEmail {
	color: yellowgreen;
	display: inline-flex;
	text-align: right;
}

.eventsSuggestionsformSuggestion {
	display: inline-flex;
	color: brown;
	text-align: right;
}

.eventsSuggestionsTextarea {
	resize: none;
	width: 250px;
	height: 100px;
}
