/* body,
h2 {
	margin: 0;
} */

.homeHomeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	background-color: rgba(8, 67, 13, 0.39);
}

.homeHomeHeading {
	text-align: center;
}

.homeHomeIcons {
	display: flex;
	font-size: 2.5em;
	/* height: 10px;
  width: 10px; */
	justify-content: center;
	gap: 0.3em;
	transition-duration: 0.6s;
}

.homeHomeIcon:hover {
	color: black;
	transform: scale(1.1);
	transition-delay: 1ms;
}

.container {
	width: 90%;
	justify-content: center;
}

.homeHomeAcmimg {
	width: 80%;
}

.homeHomeProjectsContainer {
	width: 100%;
	align-self: center;
	padding-left: 20px;
	transition-duration: 0.7s;
}

.carousel {
	padding-bottom: 20%;
}

.homeHomeWorkshopContainer {
	width: 100%;
	padding-left: 12%;
	padding-right: 12%;
}

.homeHomeProjects {
	width: 100%;
}

.homeHomeIconImg {
	height: 190%;
	width: 190%;
	color: rgb(97, 31, 105);
}

.homeHomeIconImg:hover {
	transition-duration: 0.4s;
	transform: scale(1.4);
	color: black;
}
