.homeProjectTileWrapper {
	/* height: 100px;
    width: 250px;
    margin-top: 2px; */
	background-color: black;
	/* margin-left: 50px; */
	/* margin-right: 25px; */
	/* transition-duration: 0.7s; */
}

.homeProjectTileWrapper:hover {
	transform: scale(1.2);
	transition-duration: 0.7s;
}
