.about-tile-wrapper {
    /* also ask divyank about width here */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-tile-header{
    padding: 1rem 2rem;
    background-color: lightblue;
    color: white;
    position: absolute;
}

.about-tile-container {
    background-color: transparent;
    perspective: 1000pz;
}

.about-tile-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    padding-bottom: 20px;
}

.about-tile-container:hover .about-tile-inner{
    transform: scale(1.05);
    cursor: pointer;
}

.about-tile-container:active .about-tile-inner{
    transform: rotateY(180deg);
}

.about-tile-front .about-tile-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.about-tile-front{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-tile-back{
    background-color: red;
    color: white;
    transform: rotateY(180deg);
}