.about-whatwedo-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-whatwedo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.about-whatwedo-tiles{
    display: flex;
    flex-direction: row;
}
