.about-WhatWeDo{
    margin: 0px 200px 50px 200px;
}

.about-WhatWeDo-header h1, h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-WhatWeDo-grid {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-WhatWeDo-single-col h2, li{
  padding-top: 10px;
}

.about-WhatWeDo-single-col h2, ul{
  margin: 0px 50px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
