.about-WhatWeDo{
  padding: 0px 100px 100px 100px;
}

.about-WhatWeDo-header h1, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-WhatWeDo-grid {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-WhatWeDo-single-col h2, ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
