body,
h2 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
}

.icons {
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    gap: .1em;
}