body,
h2 {
  margin: 0;
}

.home-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1600px;
  align-self: center;
}

.home-home-heading {
  text-align: center;
  align-items: center;
}

.home-home-icons {
  display: flex;
  font-size: 2.5em;
  /* height: 10px;
  width: 10px; */
  justify-content: center;
  gap: 0.1em;
  transition-duration: 0.6s;
}

.home-home-icon:hover {
  color: black;
  transform: scale(1.1);
  transition-delay: 1ms;
}

.home-home-projectTile {
  background-color: rgb(0, 4, 134);
  height: 100px;
  width: 250px;
  margin-top: 2px;
  background-color: black;
  /* margin-left: 50px; */
  /* margin-right: 25px; */
}

/* .home-home-projectTile :hover {
  transform: scale(1.2);
} */

.home-home-projects-container :hover * {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.home-home-projectName {
  padding-top: 10px;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  color: goldenrod;
  padding-right: 10px;
}

.home-home-projects-container {
  width: 385px;
  height: 190px;
  background-color: rgb(40, 43, 228);
  align-self: center;
  padding-left: 20px;
  /* align-items: center; */
  transition-duration: 0.7s;
}

.home-home-projectImage {
  width: 250px;
  height: 100px;
  /* overflow: hidden; */
}

.home-home-projects {
  width: 400px;

  /* align-items: center; */
}

.row {
  width: 1500px;
  align-self: center;
  margin-left: 50px;
}

.container {
  width: 1500px;
}

.home-home-acmimg {
  margin-left: 164px;
}

.col {
  width: 500px;
}

.home-home-projects-col {
  width: 50px;
  height: 100px;
}
