body,
h2 {
  margin: 0;
}

.home-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
  /* align-self: center; */
  background-color: rgba(8, 67, 13, 0.39);
}

.home-home-heading {
  text-align: center;
  /* align-items: center; */
}

.home-home-icons {
  display: flex;
  font-size: 2.5em;
  /* height: 10px;
  width: 10px; */
  justify-content: center;
  gap: 0.3em;
  transition-duration: 0.6s;
}

.home-home-icon:hover {
  color: black;
  transform: scale(1.1);
  transition-delay: 1ms;
}

.home-home-projectTile {
  /* height: 100px;
  width: 250px;
  margin-top: 2px; */
  background-color: black;
  /* margin-left: 50px; */
  /* margin-right: 25px; */
  /* transition-duration: 0.7s; */
}

.home-home-projectTile :hover {
  transform: scale(1.2);
  transition-duration: 0.7s;
}

.container {
  width: 90%;
  justify-content: center;
}

/* .home-home-projects-container :hover * {
  transform: scale(1.1);
  transition-duration: 0.7s;
} */

.home-home-projectName {
  padding-top: 10px;
  text-align: center;
  font-family: Arial;
  /*change to em*/
  font-size: 2.5em;
  color: goldenrod;
  padding-right: 10px;
}

.home-home-acmimg {
  width: 80%;
}

.home-home-projects-container {
  width: 100%;
  /* background-color: red; */
  align-self: center;
  padding-left: 20px;
  /* align-items: center; */
  transition-duration: 0.7s;
}

.carousel {
  padding-bottom: 20px;
  height: 40%;
  /* background-color: rgb(106, 112, 229); */
}

/* .carousel-indicators {
  background-color: black;
} */

/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
} */

.home-home-workshop-container {
  width: 100%;
  /* background-color: red; */
  padding-left: 12%;
  padding-right: 12%;
}
/* .row {
  width: 110%;
  justify-content: center;
}

.container {
  width: 135%;
  /* background-color: blue; */
/* justify-content: center; */
