.footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.footer-icons {
	width: 25%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}

.footer-link {
	font-size: 2em;
	text-decoration: none;
	color: black;
	margin: 10px;
}

.footer-copyright {
	font-size: 1.5em;
	text-align: right;
}

.footer-link:hover {
	color: gray;
}
