.aboutTileWrapper {
	/* also ask divyank about width here */
	/* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.aboutTileHeader {
	padding: 0.5rem 1rem;
	background-color: lightblue;
	color: white;
	position: absolute;
}

.aboutTileContainer {
	margin: 1rem;
}

.aboutTileContainer:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.aboutTileFront {
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aboutTileImage {
	width: 300px;
	height: 200px;
}

.aboutTileBack {
	background-color: lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 300px;
	height: 200px;
}
