.aboutVisionWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aboutVisionContainer {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.aboutVisionHeader p,
.aboutVisionHeader h6 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
